Repository open-telemetry/opentelemetry-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth, @Allex1, @wph95

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry Helm
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/helm-approvers

charts/opentelemetry-collector/ @open-telemetry/helm-approvers @dmitryax @TylerHelmuth
charts/opentelemetry-operator/  @open-telemetry/helm-approvers @Allex1
charts/opentelemetry-demo/      @open-telemetry/helm-approvers @wph95

Run non-root containers in the manager pod
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Run non-root containers in the manager pod (#312)
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

enhance otel demo env schema (#302)
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/templates/_pod.tpl
  charts/opentelemetry-demo/templates/component.yaml
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Owners: @open-telemetry/helm-approvers, @wph95

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Nest additionalIngresses into ingress config
  charts/opentelemetry-collector/ci/multiple-ingress-values.yaml
  charts/opentelemetry-collector/templates/ingress.yaml
  charts/opentelemetry-collector/values.schema.json
  charts/opentelemetry-collector/values.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Comment annotations in values.yaml - no impact
  charts/opentelemetry-collector/ci/multiple-ingress-values.yaml
  charts/opentelemetry-collector/values.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Full fixed schema for ingress types
  charts/opentelemetry-collector/values.schema.json
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update ingress CI example
  charts/opentelemetry-collector/ci/multiple-ingress-values.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

fix: Service Account Name for the deployment
  charts/opentelemetry-operator/templates/deployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

fix: Chart version jump
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

fix: Service Account Name for the deployment (#314)
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

[opentelemetry-collector] Add extra ingress configurations (#311)
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/ci/multiple-ingress-values.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/templates/ingress.yaml
  charts/opentelemetry-collector/values.schema.json
  charts/opentelemetry-collector/values.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Move Naseem Ullah to Emeritus Maintainers (#309)
  README.md
Owners: @open-telemetry/helm-approvers

[docs] nit: Add missing colons
  README.md
Owners: @open-telemetry/helm-approvers

support add pod annotations for otel operator demo case
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
  charts/opentelemetry-demo/templates/_pod.tpl
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Owners: @open-telemetry/helm-approvers, @wph95

revert
  charts/opentelemetry-collector/values.schema.json
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Remove conditional metrics address
  charts/opentelemetry-operator/templates/deployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Version bump
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

[docs] nit: Add missing colons (#315)
  README.md
Owners: @open-telemetry/helm-approvers

Remove conditional metrics address (#317)
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Force namespace constraints on test manifests
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/templates/tests/test-service-connection.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Force namespace constraints on test manifests (#318)
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/templates/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/templates/tests/test-service-connection.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

[opentelemetry-demo] Support custom annotations in pod (#316)
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
  charts/opentelemetry-demo/templates/_pod.tpl
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Owners: @open-telemetry/helm-approvers, @wph95

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

bump collector version to 0.58.0
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

bump collector version to 0.58.0 (#320)
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

add targets to update and check CRDs
  .github/workflows/operator-test.yaml
  Makefile
  charts/opentelemetry-operator/crds/crd-opentelemetryinstrumentation.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

bump chart version
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update: refactoring labels for collector
  charts/opentelemetry-collector/templates/_helpers.tpl
  charts/opentelemetry-collector/templates/daemonset.yaml
  charts/opentelemetry-collector/templates/deployment.yaml
  charts/opentelemetry-collector/templates/ingress.yaml
  charts/opentelemetry-collector/templates/podmonitor.yaml
  charts/opentelemetry-collector/templates/service.yaml
  charts/opentelemetry-collector/templates/servicemonitor.yaml
  charts/opentelemetry-collector/values.schema.json
  charts/opentelemetry-collector/values.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update: refactoring labels for the operator
  charts/opentelemetry-operator/templates/_helpers.tpl
  charts/opentelemetry-operator/templates/certmanager.yaml
  charts/opentelemetry-operator/templates/clusterrole.yaml
  charts/opentelemetry-operator/templates/clusterrolebinding.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
  charts/opentelemetry-operator/templates/role.yaml
  charts/opentelemetry-operator/templates/rolebinding.yaml
  charts/opentelemetry-operator/templates/service.yaml
  charts/opentelemetry-operator/templates/serviceaccount.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Remove operator chart release folder
  charts/opentelemetry-operator/release/go.mod
  charts/opentelemetry-operator/release/go.sum
  charts/opentelemetry-operator/release/kuttl-test.yaml
  charts/opentelemetry-operator/release/main.go
  charts/opentelemetry-operator/release/release-checklist.md
  charts/opentelemetry-operator/release/release.go
  charts/opentelemetry-operator/release/release_test.go
  charts/opentelemetry-operator/release/testdata/mockDeployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

bump chart
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

add back kuttl-test.yaml
  charts/opentelemetry-operator/kuttl-test.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

add newline
  charts/opentelemetry-operator/kuttl-test.yaml
Owners: @open-telemetry/helm-approvers, @Allex1
