Repository open-telemetry/opentelemetry-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth, @Allex1, @wph95

update operator test workflow
  .github/workflows/operator-test.yaml
Owners: @open-telemetry/helm-approvers

[opentelemetry-operator] Remove operator chart release folder (#324)
  .github/workflows/operator-test.yaml
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/kuttl-test.yaml
  charts/opentelemetry-operator/release/go.mod
  charts/opentelemetry-operator/release/go.sum
  charts/opentelemetry-operator/release/main.go
  charts/opentelemetry-operator/release/release-checklist.md
  charts/opentelemetry-operator/release/release.go
  charts/opentelemetry-operator/release/release_test.go
  charts/opentelemetry-operator/release/testdata/mockDeployment.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Update: Refactoring labels
  charts/opentelemetry-operator/templates/_helpers.tpl
  charts/opentelemetry-operator/templates/certmanager.yaml
  charts/opentelemetry-operator/templates/clusterrole.yaml
  charts/opentelemetry-operator/templates/clusterrolebinding.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
  charts/opentelemetry-operator/templates/role.yaml
  charts/opentelemetry-operator/templates/rolebinding.yaml
  charts/opentelemetry-operator/templates/service.yaml
  charts/opentelemetry-operator/templates/serviceaccount.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update: do not change operator labels
  charts/opentelemetry-operator/templates/_helpers.tpl
  charts/opentelemetry-operator/templates/certmanager.yaml
  charts/opentelemetry-operator/templates/clusterrole.yaml
  charts/opentelemetry-operator/templates/clusterrolebinding.yaml
  charts/opentelemetry-operator/templates/deployment.yaml
  charts/opentelemetry-operator/templates/role.yaml
  charts/opentelemetry-operator/templates/rolebinding.yaml
  charts/opentelemetry-operator/templates/service.yaml
  charts/opentelemetry-operator/templates/serviceaccount.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update: bump version
  charts/opentelemetry-collector/Chart.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update: bump version
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

update target names
  .github/workflows/operator-test.yaml
  Makefile
Owners: @open-telemetry/helm-approvers

Remove go dependancies from dependabot config
  .github/dependabot.yml
Owners: @open-telemetry/helm-approvers

Remove go dependancies from dependabot config (#326)
  .github/dependabot.yml
Owners: @open-telemetry/helm-approvers

bump chart
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Add new collector chart contributing guide
  CONTRIBUTING.md
  charts/opentelemetry-collector/CONTRIBUTING.md
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Add new collector chart contributing guide (#327)
  CONTRIBUTING.md
  charts/opentelemetry-collector/CONTRIBUTING.md
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

[opentelemetry-operator] Add targets to update and check CRDs (#321)
  .github/workflows/operator-test.yaml
  Makefile
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/crds/crd-opentelemetryinstrumentation.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Add operator contrib guide
  CONTRIBUTING.md
  charts/opentelemetry-operator/CONTRIBUTING.md
Owners: @open-telemetry/helm-approvers, @Allex1

bump chart
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

[opentelemetry-operator] Add operator contrib guide (#328)
  CONTRIBUTING.md
  charts/opentelemetry-operator/CONTRIBUTING.md
  charts/opentelemetry-operator/Chart.yaml
Owners: @open-telemetry/helm-approvers, @Allex1

Update index.yaml
  index.yaml
Owners: @open-telemetry/helm-approvers

Update: generate examples
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
Owners: @open-telemetry/helm-approvers, @dmitryax, @TylerHelmuth

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry Helm
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/helm-approvers

charts/opentelemetry-collector/ @open-telemetry/helm-approvers @dmitryax @TylerHelmuth
charts/opentelemetry-operator/  @open-telemetry/helm-approvers @Allex1
charts/opentelemetry-demo/      @open-telemetry/helm-approvers @wph95
