Repository open-telemetry/opentelemetry-helm-charts, pull requests merged in 2022-12, with the labels that each got.

#556 Fix Grafana datasource for Jaeger.
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana/configmap.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana/deployment.yaml
  charts/opentelemetry-demo/values.yaml
Labels: chart:demo

#541 Update collector's HPA to use "autoscaling/v2" GV
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/UPGRADING.md
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/templates/hpa.yaml
Labels: chart:collector

#554 [opentelemetry-demo] Fix tolerations and affinity templating.
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
Labels: chart:demo

#553 [operator] - Bump kube-rbac-proxy 0.13.0
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/examples/default/rendered/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-operator/examples/default/rendered/certmanager.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrole.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/deployment.yaml
  charts/opentelemetry-operator/examples/default/rendered/role.yaml
  charts/opentelemetry-operator/examples/default/rendered/rolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/service.yaml
  charts/opentelemetry-operator/examples/default/rendered/serviceaccount.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-service-connection.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Labels: chart:operator

#557 [demo] simplify default values
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Labels: chart:demo

#551 [opentelemetry-collector] add service.loadbalancerIP
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/templates/service.yaml
  charts/opentelemetry-collector/values.schema.json
  charts/opentelemetry-collector/values.yaml
Labels: chart:collector

#561 [opentelemetry-demo] Add ability to configure & command components.
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/README.md
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/component.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
  charts/opentelemetry-demo/templates/component.yaml
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Labels: chart:demo

#549 [opentelemetry-collector] fix filesystem metrics for hostmetrics preset
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/templates/_config.tpl
  charts/opentelemetry-collector/templates/_pod.tpl
Labels: chart:collector

#548 fix kube rbac proxy start error (#547)
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/examples/default/rendered/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-operator/examples/default/rendered/certmanager.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrole.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/deployment.yaml
  charts/opentelemetry-operator/examples/default/rendered/role.yaml
  charts/opentelemetry-operator/examples/default/rendered/rolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/service.yaml
  charts/opentelemetry-operator/examples/default/rendered/serviceaccount.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-service-connection.yaml
  charts/opentelemetry-operator/values.yaml
Labels: chart:operator

#545 [demo] add securityContext and mandatory named users
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/README.md
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/component.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/templates/_objects.tpl
  charts/opentelemetry-demo/values.schema.json
  charts/opentelemetry-demo/values.yaml
Labels: chart:demo
