Repository open-telemetry/opentelemetry-helm-charts, pull requests merged in 2024-07, with the labels that each got.

#1255 Bump versions, set gates
  charts/opentelemetry-kube-stack/Chart.lock
  charts/opentelemetry-kube-stack/Chart.yaml
  charts/opentelemetry-kube-stack/charts/crds/crds/opentelemetry.io_instrumentations.yaml
  charts/opentelemetry-kube-stack/charts/crds/crds/opentelemetry.io_opampbridges.yaml
  charts/opentelemetry-kube-stack/charts/crds/crds/opentelemetry.io_opentelemetrycollectors.yaml
  charts/opentelemetry-kube-stack/daemon_scrape_configs.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/bridge.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/collector.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/instrumentation.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/certmanager.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/clusterrole.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/clusterrolebinding.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/deployment.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/role.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/rolebinding.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/service.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/serviceaccount.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/tests/test-certmanager-connection.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/opentelemetry-operator/tests/test-service-connection.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/values.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/collector.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/certmanager.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/clusterrole.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/clusterrolebinding.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/deployment.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/role.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/rolebinding.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/service.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/serviceaccount.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/tests/test-certmanager-connection.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/opentelemetry-operator/tests/test-service-connection.yaml
  charts/opentelemetry-kube-stack/templates/bridge.yaml
  charts/opentelemetry-kube-stack/templates/collector.yaml
  charts/opentelemetry-kube-stack/templates/instrumentation.yaml
Labels: chart:kube-stack

#1260 Set port for webhook in conversion webhook
  Makefile
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/conf/crds/crd-opentelemetrycollector.yaml
  charts/opentelemetry-operator/examples/default/rendered/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-operator/examples/default/rendered/admission-webhooks/operator-webhook.yaml
  charts/opentelemetry-operator/examples/default/rendered/certmanager.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrole.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/deployment.yaml
  charts/opentelemetry-operator/examples/default/rendered/role.yaml
  charts/opentelemetry-operator/examples/default/rendered/rolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/service.yaml
  charts/opentelemetry-operator/examples/default/rendered/serviceaccount.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-service-connection.yaml
Labels: chart:operator, size:M, lgtm

#1264 Add Prometheus CRDs to otel-kube-stack
  charts/opentelemetry-kube-stack/Chart.yaml
  charts/opentelemetry-kube-stack/charts/crds/README.md
  charts/opentelemetry-kube-stack/charts/crds/crds/monitoring.coreos.com_podmonitors.yaml
  charts/opentelemetry-kube-stack/charts/crds/crds/monitoring.coreos.com_servicemonitors.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/bridge.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/collector.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/instrumentation.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/collector.yaml
Labels: chart:kube-stack, size:XXL

#1246 [operator] feat: add 'relabelings' and 'metricRelabelings' configs to serviceMonitor
  charts/opentelemetry-operator/Chart.yaml
  charts/opentelemetry-operator/examples/default/rendered/admission-webhooks/operator-webhook-with-cert-manager.yaml
  charts/opentelemetry-operator/examples/default/rendered/certmanager.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrole.yaml
  charts/opentelemetry-operator/examples/default/rendered/clusterrolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/deployment.yaml
  charts/opentelemetry-operator/examples/default/rendered/role.yaml
  charts/opentelemetry-operator/examples/default/rendered/rolebinding.yaml
  charts/opentelemetry-operator/examples/default/rendered/service.yaml
  charts/opentelemetry-operator/examples/default/rendered/serviceaccount.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-certmanager-connection.yaml
  charts/opentelemetry-operator/examples/default/rendered/tests/test-service-connection.yaml
  charts/opentelemetry-operator/templates/servicemonitor.yaml
  charts/opentelemetry-operator/values.schema.json
  charts/opentelemetry-operator/values.yaml
Labels: size:L

#1245 [collector] feat: add 'relabelings' and 'metricRelabelings' configs to serviceMonitor
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrole.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrolebinding.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/service.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/templates/servicemonitor.yaml
  charts/opentelemetry-collector/values.schema.json
  charts/opentelemetry-collector/values.yaml
Labels: size:M, lgtm

#1248 Simplify error scenario logic
  charts/opentelemetry-demo/Chart.yaml
  charts/opentelemetry-demo/examples/bring-your-own-observability/rendered/component.yaml
  charts/opentelemetry-demo/examples/bring-your-own-observability/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/bring-your-own-observability/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/examples/collector-as-daemonset/rendered/component.yaml
  charts/opentelemetry-demo/examples/collector-as-daemonset/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/collector-as-daemonset/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/collector-as-daemonset/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/examples/custom-environment-variables/rendered/component.yaml
  charts/opentelemetry-demo/examples/custom-environment-variables/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/custom-environment-variables/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/custom-environment-variables/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/examples/default/rendered/component.yaml
  charts/opentelemetry-demo/examples/default/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/default/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/default/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/examples/kubernetes-infra-monitoring/rendered/component.yaml
  charts/opentelemetry-demo/examples/kubernetes-infra-monitoring/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/kubernetes-infra-monitoring/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/kubernetes-infra-monitoring/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/component.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/flagd-config.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/grafana-dashboards.yaml
  charts/opentelemetry-demo/examples/public-hosted-ingress/rendered/serviceaccount.yaml
  charts/opentelemetry-demo/flagd/demo.flagd.json
Labels: size:XL

#1268 [collector] Remove the deprecated memory ballast extension
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/UPGRADING.md
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrole.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrolebinding.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/service.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/templates/NOTES.txt
  charts/opentelemetry-collector/templates/_config.tpl
  charts/opentelemetry-collector/values.yaml
Labels: chart:collector, size:M, lgtm

#1265 Add KubeStateMetrics and PrometheusNodeExporter charts to OKS
  charts/opentelemetry-kube-stack/Chart.lock
  charts/opentelemetry-kube-stack/Chart.yaml
  charts/opentelemetry-kube-stack/README.md
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/bridge.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/collector.yaml
  charts/opentelemetry-kube-stack/examples/cloud-demo/rendered/instrumentation.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/collector.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/clusterrolebinding.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/deployment.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/role.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/service.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/serviceaccount.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/kube-state-metrics/servicemonitor.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/prometheus-node-exporter/daemonset.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/prometheus-node-exporter/service.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/prometheus-node-exporter/serviceaccount.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/rendered/prometheus-node-exporter/servicemonitor.yaml
  charts/opentelemetry-kube-stack/examples/targetallocator-prom/values.yaml
  charts/opentelemetry-kube-stack/values.schema.json
  charts/opentelemetry-kube-stack/values.yaml
Labels: chart:kube-stack, size:XXL

#1273 [collector] bump default collector version to 0.105.0
  charts/opentelemetry-collector/Chart.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/service.yaml
  charts/opentelemetry-collector/examples/daemonset-and-deployment/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-collector-logs/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-hostmetrics/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-lifecycle-hooks/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/daemonset.yaml
  charts/opentelemetry-collector/examples/daemonset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-otlp-traces/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/service.yaml
  charts/opentelemetry-collector/examples/deployment-use-existing-configMap/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrole.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/clusterrolebinding.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/service.yaml
  charts/opentelemetry-collector/examples/kubernetesAttributes/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-only/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/configmap-statefulset.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/service.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/statefulset-with-pvc/rendered/statefulset.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-GOMEMLIMIT/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-custom-config/rendered/serviceaccount.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/configmap.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/deployment.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/service.yaml
  charts/opentelemetry-collector/examples/using-shared-processes/rendered/serviceaccount.yaml
Labels: chart:collector, size:L, lgtm
